/*--------------------- Fonts --------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*------------------------- Header ---------------------------- */

header{
    background-color: #737373;
    padding-top: 20px;
}

.navbar-brand{
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    color: #fff;
    text-align: center;}

.page-title{
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.page-title a:hover {
    color: #fff;
    text-decoration: none;
}

.navbar{
    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-size: 15px;
    background-color: #2980cc;
    margin-top: 20px;
    text-align: center;
}

.active{
    color: #000;
}

a:link{
    text-decoration: none;
    color: #fff;
}

.nav-item a:hover{
    color: #000;
    text-decoration: underline;
}

.fa-bars{
    color: #fff;
}

/*------------------------- Images ---------------------------- */
#banner-image{
    height:auto;
    width: 100%;
    background: url("index.html") no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#banner-outer{
    height:auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#banner-outer h1{
   position: absolute; 
   align-content: center;
   top: 50%; 
   left: 30%;
   width: 40%; 
   padding-bottom: 30px;
   padding-top: 30px;
   text-align: center;
   font-family: 'Lato', sans-serif;
   font-weight: 200;
   color: #fff;
   background-color: rgba(41, 128, 204, 0.7)
}

