/*--------------------- Fonts --------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Euphoria+Script&display=swap');

/*------------------------- Standard styling across all pages ---------------------------- */
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #737373;
    position: relative;
}

.ikc-row{
    margin-top: 30px;
}

.ikc-hr {
    border: 1px solid #2980cc;
    width: 25%;
    margin-top: 30px;
    margin-bottom: 30px;
}


/*------------------------- Header ---------------------------- */

header{
    background-color: #737373;
}

.navbar-brand{
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    color: #737373;
    text-align: center;
    }

.page-title a:hover {
    color: #fff;
    text-decoration: none;
}

.ikc-navbar{
    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-size: 15px;
    background-color: #2980cc;
    text-align: center;
    padding: 2px 16px 2px 16px;
}

.navbar-text{
    color: #fff;
}

header a:link{
    text-decoration: none;
    color: #fff;
}

.nav-item a:visited{
    color: #b3b3b3;
}

.nav-item a:hover{
    text-decoration: underline;
}

.navbar-brand:visited{
    color: #fff;
}

.navbar-brand:hover{
    color: #000;
}

.fa-bars{
    color: #fff;
}

.nav-item .active{
    color: #000;
}

/*------------------------- Images ---------------------------- */
.logo img{
    width: 40%;
    height: auto;
    display: block;
  margin: 0 auto 0 auto;
  padding: 5px 0 5px 0;
}

.logo{
    align-content: center;
}

.logo-carousel img{
    display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: 95px;
  margin: auto;
  margin-bottom: 20px;
}

.main-text img{
    width: 100%;
    height: auto;
    align-content: center;
    margin: auto;
}

/*------------------------- testimonials banner image ---------------------------- */
.testimonials-banner-image {
    height: 33.5vw;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-image: url('../images/banner/testimonials-banner.jpg');
    background-color: rgba(255, 255, 255, 0.5);
    opacity: .7;
    align-items:center;
}

.testimonials-banner-image h1{
    color: #fff;
    font-family: 'lato', sans-serif;
    font-weight: 300;
    background-color: rgba(80, 80, 80, 0.8);
    padding: 15px 15px 15px;
}

/*------------------------- contact banner image ---------------------------- */
.contact-banner-image {
    height: 33.5vw;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-image: url('../images/banner/contact-banner.jpg');
    background-color: rgba(255, 255, 255, 1);
    opacity: .7;
    align-items:center;
}

.contact-banner-image h1{
    color: #fff;
    font-family: 'lato', sans-serif;
    font-weight: 300;
    background-color: rgba(80, 80, 80, 0.8);
    padding: 15px 15px 15px;
}

/*------------------------- pricing banner image ---------------------------- */
.pricing-banner-image {
    height: 33.5vw;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-image: url('../images/banner/pricing-banner.jpg');
    background-color: rgba(255, 255, 255, 0.5);
    opacity: .7;
    align-items:center;
}

.pricing-banner-image h1{
    color: #fff;
    font-family: 'lato', sans-serif;
    font-weight: 300;
    background-color: rgba(80, 80, 80, 0.8);
    padding: 15px 15px 15px;
}

/*------------------------- book-a-lesson banner image ---------------------------- */
.book-banner-image {
    height: 33.5vw;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-image: url('../images/banner/book-banner.jpg');
    background-color: rgb(255, 255, 255);
    opacity: .8;
    align-items:center;
}

.book-banner-image h1{
    color: #fff;
    font-family: 'lato', sans-serif;
    font-weight: 300;
    background-color: rgba(80, 80, 80, 0.8);
    padding: 15px 15px 15px;
}

/*------------------------- Media Rules for images ---------------------------- */

@media screen and (min-width: 1024px) {
  footer img {
    width: 35%;
    height: auto;
  }
}

@media screen and (max-width: 450px) {
  footer img {
    width: 25%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .logo img {
    width: 30%;
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .logo img {
    width: 20%;
    height: auto;
  }
}
/*------------------------- body text ---------------------------- */


.main-text{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size:16px;
    color: #737373;
}

/*------------------------- index main text ---------------------------- */

.about-heading{
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

.about-heading h4{
    color: #2980cc;
    margin-top: 15px;
}

.about-heading hr{
    margin-bottom: 10px;
    margin-top: 10px;
}

.about-heading p{
    font-size: 18px;
}

.home-quote{
    text-align: center;
    background-color: #2980cc;
    font-family: 'lato', sans-serif;
    padding: 30px 30px 30px;
}

.home-quote h2{
    color: #fff;
    font-family: 'Euphoria Script', cursive, sans-serif;
}

.home-quote h5{
    color: #fff;
    font-weight: 200;
}

.home-row{
    margin-top: 30px;
}

/*------------------------- Testimonials main text ---------------------------- */

.testimonial{
    align-items: center;
    margin: 0 30px 0;
}

.testimonial p{
    text-align: center;
    margin-bottom:8px;
}

.testimonial .improvements{
    font-weight: 700;
    color: #2980cc;
    font-size: 12px;
}

.testimonial-name{
    font-weight: bold;
    font-size: 18px;
}

.testimonial img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
}

@media screen and (min-width: 768px){
    .testimonial img {
    width: 75px;
    height: 75px;
    }
}

@media screen and (min-width: 1200px){
    .testimonial img {
    width: 100px;
    height: 100px;
    }
}

/*------------------------- Contact main text ---------------------------- */

.address p{
    margin-bottom: 8px;
}

.address{
    text-align: center;
    margin-top: 20px;
}

.address a{
    color: #2980cc;
}

.address h4{
    color: #2980cc;
}

.main-text button{
    background-color: #2980cc;
    color: #fff;
}

.submit-btn{
    margin: auto;
    display: block;
}

form{
    background-color: rgba(41, 128, 204, 0.1);
    box-shadow: 0px 0px 5px 0px #737373;
    padding: 25px 25px 25px;
    border-radius: 2%;
}

/*------------------------- pricing main text ---------------------------- */
.price-box{
    background-color: rgba(41, 128, 204, 0.3);
    text-align: center;
    box-shadow: 0px 0px 5px 0px #737373;
    border-radius: 2%;
    padding: 15px 15px 15px;
    margin-top: 30px;
}

.price-box h4{
    font-weight: 700;
    color: #2980cc;
}

/*------------------------- footer ---------------------------- */
footer{
    background-color: #737373;
    color: #fff;
    width: 100%;
    padding: 20px 0px 0px;
    margin-top: 30px;
}

footer h5{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    align-items: center;
    vertical-align: middle;
}

footer p{
    font-size: 14px;
    font-weight: 200;
    align-items: center;
    vertical-align: middle;
}

@media screen and (min-width: 1200px){
    footer p{
        font-size: 18px;
    }
    footer h5{
        font-size: 22px;
    }
}

.social-links-icon i {
    width: 32px;
    height: 32px;
    padding: 12px 12px 12px 10px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    color: #fafafa;
    background: #2980cc;
}

.social-links-icon li a i:hover{
    color: #2980cc;
    background: #fff;
}

.social{
    align-content: center;
    text-align: center;
}